/* AdminPage.module.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    height: 900px;
}

.section {
    height: 800px;
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #007bff;
    margin: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.reject {
    background-color: #dc3545;
}

button.reject:hover {
    background-color: #c82333;
}